:root{
    --primary-color: #14181C;
    --secondary-color: #2b333c;
    --light-primary-color: #1e252c;
    --light-secondary-color: hsl(212, 17%, 25%);
    --green: #97b96a;
    --green-hover: hsl(86, 52%, 65%);
}

*, *::after, *::before {
    box-sizing: border-box;
}

html{
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: linear-gradient(var(--light-primary-color), var(--primary-color));
    background-size: cover;
    background-attachment: fixed;
}

body {
    margin: 0;
    padding: 0;
    height: 100%; 
}

a {
    text-decoration: none;
    color: white;
}

.main_header, .main_header div, .main_header .identidade {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    padding: .2rem 2rem;
}

.main_header {
    justify-content: space-between;
}

.main_header .identidade {
    gap: 1rem;
}

.main_header div {
    gap: 3rem;
}

.main_header div form {
    display: flex;
    gap: 1rem;
}

.logo {
    width: 4.5rem;
}

.main_title {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.input,
.inputData {
    padding: .5rem .5rem;
    font-weight: bold;
    font-size: 1.1rem;
    border: none;
}

.inputData {
    margin: 0 1rem;
}

.input:hover,
.input:focus {
    outline: none;
}

.input_light {
    color: var(--secondary-color);
}

.input_dark  {
    background-color: var(--secondary-color);
    color: rgba(255, 255, 255, 0.423);
}

.button {
    background-color: var(--green);
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    padding: .5rem 1.5rem;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: var(--green-hover);
}

.login:hover,
.login:focus {
    background-color: var(--green-hover);
    cursor: pointer;
    outline: 2px solid white;
}

.main_aside {
    background-color: var(--secondary-color);
}

.options {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    font-size: 1.2rem;
    margin: 0;
    padding: 0 8rem;
}

.options li {
    width: 100%;
    text-align: center;
    
}

.options li:hover,
.card .a_card:hover {
    background-color: #1e252c;
}

.options li:hover a,
.card .a_card:hover {
    font-weight: bold;
}

.options a {
    display: block;
    padding: .5rem;
    color: white;
}

.carrossel {
    display: flex;
    /* justify-content: space-evenly; */
    padding: 3rem 0 2rem;
    gap: 2rem;
    max-width: 80rem;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    /* background-color: white; */
}

.cardInfo {
    transition: transform .5s ease-in-out,
    opacity .5s ease-in-out,
    background-color .5s ease-in-out;
}

.card .img_card img {
    width: 18.125rem;
    display: block;
    height: 435px;
}

.cardInfo .img_card img:hover, 
.cardInfo:has(.teste:hover) .img_card img {
    opacity: 60%;
    cursor: pointer;
}

.cardInfo .img_card:hover .teste {
    opacity: 100%;
}

.cardInfo:hover {
    background-color: white;
}

.cardInfo .a_card {
    display: block;
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: .5rem;
    font-weight: 100;
    font-size: 1.2rem;
}


.teste {
    position: absolute;
    top: 40%;
    left: 45%;
    color: black;
    font-size: 3rem;
    opacity: 0;
    
}

.teste:hover {
    opacity: 100%;
    cursor: pointer;
    user-select: none;
}

.arrow {
    position: absolute;
    background-color: var(--secondary-color);
    padding: .7rem;
    color: white;
    top: 50vh;
    font-size: 1.5rem;
}

.arrow:hover {
    background-color: var(--light-secondary-color);
    font-weight: bold;
    cursor: pointer;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

/* ------------------------------------------------------------------- */
.filtro form {
    text-align: center;
    margin: 1rem;
}

.tabela {
    margin: 3rem auto;
}

.tabela, td, th {
    border: 2px solid var(--primary-color);
    background-color: var(--secondary-color);
    border-collapse: collapse;
    padding: .5rem 1rem .5rem 1rem;
    color: white;
    text-align: left;
    /* background-color: white; */
}

.tabela .inputEditable {
    background-color: var(--light-primary-color);
    border: none;
    color: white;
    text-align: left;
    font-size: 1rem;
    width: fit-content;
}

.tabela tbody tr:nth-child(odd) .inputEditable {
    background-color: var(--secondary-color);
}

.tabela tbody tr:nth-child(even) td {
    background-color: var(--light-primary-color);
}

.tabela tbody tr:hover td {
    background-color: var(--light-secondary-color);
    cursor: pointer;
}

.tabela tbody tr td:nth-of-type(6),
.tabela tbody tr td:first-of-type{
    text-align: center;
}

.classificacao {
    /* background-color: black; */
    padding: .2rem ;
    font-weight: bold;
    /* width: 2rem; */
    text-align: center;
    color: white;
    border: none;
}

.l {
    background-color: forestgreen;
}

.dez {
    background-color: lightskyblue;
}

.doze {
    background-color: rgb(195, 195, 0);
}

.catorze {
    background-color: orangered;
}

.dezesseis {
    background-color: red;
}

.dezoito {
    background-color: black;
}

/* -------------------------------------------------- */

.salas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1rem;
    color: white;
    max-width: fit-content;
}

.card_salas {
    /* margin: auto; */
    width: 20%;

}

.card_title {
    margin: 1.5rem 0 .5rem;
}

.card_info {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    padding: 1.2rem;
}

.card_info p {
    margin: 0;
    padding: .5rem 0;
    
}

hr {
    width: 100%;
}

/* -------------------------------------------------------------- */

.card_breve {
    display: flex;
    background-color: var(--secondary-color);
    gap: 1rem;
    margin: 2rem auto;
    padding: 1rem;
    max-width: 51.125rem;
    justify-content: left;
}

.poster img {
    width: 15rem;
}

.info_breve {
    color: white;
}

.card_breve h2,
.card_breve h3,
.card_breve h4,
.card_breve p {
    margin: 1rem 0;
}

.card_breve h2 {
    margin-top: 0;
}

.card_breve h2,
.card_breve p {
    max-width: 30rem;
    text-align: justify;
}

/* ---------------------------------------------------------- */

.sectionCidades {
    margin: 2rem auto;
    background-color: var(--secondary-color);
    width: fit-content;
}

.sectionCidades h2,
.sectionCidades h3,
.sectionCidades h4,
.sectionCidades p {
    color: white;
    margin: 0;
    padding: 1rem;
}

.sectionCidades .h2 {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem 2rem;
}

.sectionCidades h2 {
    margin: 0;
}

.listaCidades {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.listaCidades li {
    display: flex;
    align-items: center;
}

.listaCidades a {
    color: white;
    display: block;
    padding: 1rem;
}

.listaCidades a:hover {
    background-color: var(--light-secondary-color);
}

.listaCidades li:nth-of-type(odd) {
    background-color: var(--light-primary-color);
}

.sessoes {
    margin: auto;
    color: white;
    background-color: var(--secondary-color);
    padding: 1rem;
    /* display: inline-block; */
    text-align: center;
}

.adm {
    color: white;
}

.colaboradores {
    display: block;
    background-color: var(--secondary-color);
    padding: .6rem 1rem;
}

.colaboradores:hover {
    background-color: var(--light-secondary-color);
}

.red {
    background-color: rgb(255, 34, 0);
}

.red:hover {
    background-color: hsl(8, 100%, 70%);
}

.blue {
    background-color: hsl(195, 53%, 69%);
}

.blue:hover {
    background-color: hsl(195, 53%, 79%);
}

.center {
    text-align: center;
    margin: 1rem auto 0;
}

/*  ----------------------------------------------------------------- */

.modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    color: white;
    overflow: hidden;
    z-index: 1;
}

.modalContent {
    background-color: #2b333c;
    padding: 1rem;
}

.modalContent form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modalContent p {
    text-align: center;
    font-size: 1.2rem;
    margin: 0 0 1rem;
}
